/* Déclaration de la police */
@font-face {
    font-family: "Calculator";
    src: url('fonts/Calculator.ttf');
    }

body
{
    margin: 0;
    height: 100vh;
    background: linear-gradient(grey, white);
    font-family: Arial;
    background-attachment: fixed;
}

#entete
{
    height: 25%;
    background-image: url(files/bandeau-osthoffen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;

}


nav
{
    height: 40px;
    background: rgba(197, 200, 199, .6);
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;

}

nav ul
{
    list-style-type: none;
    padding-left: 0;
}

nav ul li
{
    float: left;
    text-align: center;
}

nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    margin-top: -5px;
    padding-bottom: 5px;;
}

nav a:hover
{
    color: orange;
    border-bottom: 2px solid gold;
}

#logo
{
    height: 80%;
    background-image: url(files/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#titre
{
    color: white;
    float: right;
    font-size: 200%;
    position: absolute;
    left: 50%;
    top: 10%;
    letter-spacing: 3px;
    text-align: center;
}

.content
{
    display: flex;
}

article
{
    padding: 20px;
    margin: 20px;
}

#intro
{
    width: 60%;
}

#infos
{
    width: 40%;
    border-left: gray solid 3px;
}

#countdown
{
    font-family: Calculator;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.candidat
  {
    display: flex; 
    margin: auto;
    width: 80%;   
    margin-top: 10%;
  }




  #content_candidat
  {
    margin:50px;
  }

  .photo_candidat
  {
    width: 40%;
    text-align: center;
  }

  .presentation_candidat
  {
    width: 60%;
  }

  .presentation_candidat_left
  {
      display: none;
  }





  #module_programme
  {
      width: 80%;
      background: linear-gradient(grey, white);
      margin: auto;
      position: relative;
  }

  #selection_categorie
  {
      width: 20%;
      overflow-wrap: normal;
  }

  #affichage_categorie
  {
        width: 80%;
        overflow-wrap: normal;
        border: solid black 1px;
        border-left: none;
        position: absolute;
        left: 20%;
        height: 100%;
  }

  .bouton_cat
  {
      border: solid black 1px;
      min-height: 65px;
      vertical-align: middle;
      display: table;
      width: 100%;
  }

  .bouton_cat_selected
  {
      border-right: none;
  }

  .bouton_text
  {
    vertical-align: middle;
    display: table-cell;
  }

  .contenu_cat
  {
      display: none;
      padding: 5%;
  }

  .contenu_cat_selected
  {
      display: block;
  }

  

  
  @media screen and (max-width: 900px) {
    .content {
      flex-direction: column;
    }

    .candidat {
        flex-direction: column;
        width: 100%;
    }

    #infos
    {
    width: 100%;
    border-left: gray solid 0px;
    border-top: gray solid 3px;
    }   

    article
    {
    padding-left: 0px;
    margin: 0px;
    }

    #intro
    {
    width: 100%;
    }

    .photo_candidat
    {
        width: 100%;
    }

    .presentation_candidat
    {
        width: 100%;
        text-align: center;
    }


    #content_candidat
    {
        margin:10px;
    }

    .presentation_candidat_left
    {
        display: block;
    }

    .presentation_candidat_right
    {
        display: none;
    }

    #selection_categorie
    {
        display: none;
        
    }

    #affichage_categorie
    {
        width: 100%;
        left: 0px
    }

    .contenu_cat
    {
        display: block;
    }
  }